@{
    var area = ViewContext.RouteData.Values["area"]?.ToString().ToLower();
    var page = ViewContext.RouteData.Values["page"]?.ToString().ToLower();
}
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item @(area==""?"active":"")">
        <a class="nav-link text-white" asp-area="" asp-page="/Index"><i class="fa-solid fa-house "></i> Home</a>
    </li>
    <li class="nav-item @(area=="users"?"active":"")">
        <a class="nav-link text-white" asp-area="Users" asp-page="/Index"><i class="fa-solid fa-user-group "></i> Users</a>
    </li>
@*     <li class="nav-item @(area=="employees"?"active":"")">
        <a class="nav-link text-dark" asp-area="Applications" asp-page="/Index"><i class="fa-solid fa-user-group "></i> Employees</a>
    </li> *@
    <li class="nav-item @(area=="application"?"active":"")">
        <a class="nav-link text-white" asp-area="Application" asp-page="/Index"><i class="fa-solid fa-folder-open"></i> Doc Approval Requests</a>
    </li>
    <li class="nav-item @(area=="config"?"active":"")">
        <a class="nav-link text-white" asp-area="Config" asp-page="/Index"><i class="fa-solid fa-gears"></i> Config</a>
    </li>
</ul>
