@page "{id?}"
@model DetailsModel
@section sidebar{
    <div></div>
}
<div class="card">
    <div class="card-body pb-0">
        <div class="row mb-3">
            <label class="col-md-3 text-muted">Login Id</label>
            <div class="col-md-9">@Model.SelectedUser.LoginId</div>
        </div>
        <div class="row mb-3">
            <label class="col-md-3 text-muted">Role</label>
            <div class="col-md-9">@Model.SelectedUser.Role</div>
        </div>
        <div class="row mb-3">
            <label class="col-md-3 text-muted">Full name</label>
            <div class="col-md-9">@Model.SelectedUser.Name</div>
        </div>
        <div class="row mb-3">
            <label class="col-md-3 text-muted">Email</label>
            <div class="col-md-9">@Model.SelectedUser.Email</div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.SelectedUser.Mobile))
        {
            <div class="row mb-3">
                <label class="col-md-3 text-muted">Mobile</label>
                <div class="col-md-9">@Model.SelectedUser.Mobile</div>
            </div>
        }
        <div class="row mb-3">
            <label class="col-md-3 text-muted">Account status</label>
            <div class="col-md-9">
                @Model.SelectedUser.AccountStatusHtml()
                @if (!Model.SelectedUser.IsEmailConfirmed)
                {
                    <div class="text-muted">(Activation email sent to the user)</div>
                    <a asp-page-handler="SendActivation" asp-route-id="@Model.SelectedUser.Id" class="btn btn-outline-success btn-sm"><i class="fa fa-envelope"></i>&nbsp;Resend activation email..</a>
                    if (User.IsTechSupport())
                    {
                        <div class="input-group input-group-sm mt-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Activation link</div>
                            </div>
                            <input type="text" readonly class="form-control" value="@Model.SelectedUser.GetActivationLink(Request)" />
                        </div>
                    }
                }
            </div>
        </div>

    </div>
    @if (User.IsTechSupport())
    {
        <div class="card-footer">
            <div class="small row text-start">
                <div class="col-3">
                    <div class="text-muted">Account creation date</div>
                    <div>@Model.SelectedUser.CreationDate</div>
                </div>
                @if (Model.SelectedUser.LastLoginDate.HasValue)
                {
                    <div class="col-3">
                        <div class="text-muted">Last login date</div>
                        <div>@Model.SelectedUser.LastLoginDate</div>
                    </div>
                }
            </div>
        </div>
    }
</div>